.weather-parameter-card {
  display: flex;
  flex-basis: calc(50% - 12.5px);
  background-color: var(--light-grey-color);
  padding: 25px;
  border-radius: 20px;

  .info {
    width: 60%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
      color: var(--grey-color);
    }
  }

  .icon {
    width: 40%;
    height: 150px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &:hover {
    box-shadow: var(--box-shadow);
  }
}

@media only screen and (max-width: 767px) {
  .weather-parameter-card {
    flex-basis: 100%;

    .info {
      height: 100px;
    }

    .icon {
      position: absolute;
      right: 0;
      height: 100px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
