$primary-color: rgb(20, 42, 89);
$secondary-color: rgb(132, 143, 167);

$font-size-h1: 40px;
$font-size-h2: 32px;
$font-size-h3: 24px;
$font-size-h3: 24px;
$font-size-p: 18px;
$line-height-p: 24px;

$gap: 50px;
$padding: 40px;

.weather-panel {
  background-color: $primary-color;
  color: white;
  height: 100vh;
  width: 30vw;
  position: absolute;
  inset: 0 0 auto auto;
  padding: $padding;

  .heading {
    display: flex;
    gap: $gap;
  }

  h1 {
    font-size: $font-size-h1;
    font-weight: 700;
  }

  h2 {
    font-size: $font-size-h2;
    font-weight: 500;
    margin-bottom: 10px;
  }

  h3 {
    font-size: $font-size-h3;
    font-weight: 500;
    color: $secondary-color;
    margin-bottom: 10px;
  }

  h4 {
    font-size: $font-size-h3;
    font-weight: 500;
    color: white;
    margin-bottom: 10px;
  }

  p {
    font-size: $font-size-p;
    line-height: $line-height-p;
    color: $secondary-color;
  }

  img {
    width: 30%;
  }

  .temperature {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .underline {
    margin: 25px 0;
    height: 2px;
    width: 100%;
    border-radius: 50px;
    background-color: $secondary-color;
  }
}
