.search-drop-down-list {
  position: absolute;
  z-index: 99;
  left: 0;
  top: 65px;
  background-color: var(--primary-color);

  box-shadow: var(--box-shadow);
  border-radius: 15px;
  padding: 15px;

  p {
    color: var(--background-color);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: var(--light-primary-color);
      color: var(--primary-color);
    }
  }
}
