@import "../variables";

.home-screen {
  display: flex;

  .main {
    width: 60vw;
    min-width: min-content;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 25px;
    padding: 25px 40px;

    .cards {
      display: flex;
      flex-wrap: wrap;
      gap: 25px;
    }
  }

  .forecast-panel {
    width: 30vw;
  }
}
