.home-screen {
  display: flex;

  .main {
    padding: 50px;
    width: 60vw;
    min-width: min-content;
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    gap: 50px;
    flex-wrap: wrap;

    .cards {
      flex-grow: 4;
      width: 100%;
      display: flex;
      gap: 50px;
      flex-wrap: wrap;
    }
  }

  .forecast-panel {
    width: 30vw;
  }
}
