.vertical-temperature-card {
  margin: 5px;
  padding: 5px;
  border-radius: 15px;
  text-align: center;

  img {
    width: 100%;
    margin: 5px 0;
  }

  &:hover {
    background-color: var(--light-grey-color);
  }

  &.active {
    background-color: rgba(180, 220, 255, 0.35);
  }
}
