.vertical-temperature-card {
  margin: 5px;
  padding: 5px;
  //   background-color: rgb(246, 246, 246);
  border-radius: 15px;
  width: 30%;
  text-align: center;

  img {
    width: 100%;
    margin: 5px 0;
  }
}
