@import "../../variables";

.forecast-panel {
  border-left: 2px solid $light-grey-color;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-top: 25px;

  .heading {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;

    .arrow-icon {
      cursor: pointer;
      padding: 5px;
      height: 36px;
      width: 36px;
      border-radius: 10px;

      &:hover {
        background-color: $light-grey-color;
      }

      &.inactive {
        color: $grey-color;
        cursor: default;

        &:hover {
          background-color: white;
        }
      }
    }
  }

  .today-cards {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
  }

  .week-cards {
    padding: 0 15px;

    > h3 {
      padding-bottom: 25px;
      text-align: center;
    }
  }
}
