.header {
  position: relative;
  display: flex;
  align-items: center;

  .icons-container {
    position: absolute;
    right: 0;

    .icon {
      //   color: rgb(13, 64, 109);
      cursor: pointer;
      margin-left: 25px;
    }
  }
}
