@import "../../variables";

.header {
  position: relative;
  display: flex;
  align-items: center;

  .icons-container {
    position: absolute;
    right: 0;

    .icon {
      cursor: pointer;
      margin-left: 25px;
    }
  }
}
