@import "../../variables";

.header {
  position: relative;
  display: flex;
  align-items: center;

  .icons-container {
    position: absolute;
    right: 0;

    > div {
      display: inline-block;
      height: 50px;
      width: 50px;
      border-radius: 25px;
      margin: 5px;
      cursor: pointer;
      position: relative;

      .icon {
        position: absolute;
        inset: 0;
        margin: auto;
      }

      &:hover {
        background-color: $light-grey-color;
      }
    }
  }
}
