$card-bg-color: rgb(180, 220, 255);
$text-color: rgb(13, 64, 109);

.weather-card {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $card-bg-color;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  gap: 45px;

  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    display: flex;
    align-items: center;
    color: $text-color;
  }

  .icon {
    margin-right: 5px;
  }

  .main-content {
    width: 50%;
    min-width: fit-content;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 15px;
    }

    .center {
      align-self: center;
      display: flex;
      flex-direction: column;

      * {
        justify-content: center;
      }

      p {
        font-size: 18px;
        margin: 10px;
        text-align: center;
      }
    }

    .bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 15px;
    }
  }

  .temperature {
    min-width: min-content;
    width: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    padding: 15px;
  }
}
