:root {
  --primary-color: rgb(13, 64, 109);
  --light-primary-color: rgb(180, 220, 255);
  --grey-color: grey;
  --light-grey-color: rgb(245, 245, 245);
  --background-color: white;
  --text-color: black;
}

.theme-dark {
  --primary-color: rgb(255, 255, 255);
  --light-primary-color: rgb(11, 105, 187);
  --grey-color-dark: rgb(61, 61, 61);
  --light-grey-color: rgb(78, 78, 78);
  --background-color: rgb(27, 27, 27);
  --text-color: white;
}
